<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Page</title>
</head>
<body>
    <div>
        <h1>Student Page</h1>
        <!--<p>{{ item_name }}</p> -->
        <table style="border: solid 1px black;">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Education</th>
                    <th>Age</th>
                    <th>Address</th>
                </tr>
            </thead>
            <tbody>
                {%for item in items%}
                    <tr>
                        <td>{{item.name}}</td>
                        <td>{{item.educ}}</td>
                        <td>{{item.age}}</td>
                        <td>{{item.address}}</td>
                    </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
</body>
</html>
